<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for lengu in languages %}

    <p>Nombre: {{lengu.nombre}}</p>
    <p>Nombre Corto: {{lengu.nombrecorto}}</p>

    <button>
        <a href="{% url 'EliminarLenguajes' lengu.nombre %}">Eliminar Lenguajes</a>
    </button>
    
    {% endfor %}

    <br>

    <a href="{% url 'LenguajeForm' %}">Crear Lenguaje</a>

    </br>
</body>
</html>