<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for progra in programmers %}

    <p>Nombre: {{progra.nombre}}</p>
    <p>Pais: {{progra.pais}}</p>

    <button>
        <a href="{% url 'EliminarProgramador' progra.nombre %}">Eliminar Programador</a>
    </button>

    <button>
        <a href="{% url 'EditarProgramador' progra.nombre %}">Editar Programador</a>
    </button>

    {% endfor %}

    <br>

    <a href="{% url 'ProgramadorForm' %}">Crear Programador</a>

    </br>

</body>
</html>