<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for insti in institutes %}

    <p>Nombre: {{insti.nombre}}</p>
    <p>Tipo: {{insti.tipo}}</p>

    <button>
        <a href="{% url 'EliminarInstitutos' insti.nombre %}">Eliminar Institutos</a>
    </button>

    {% endfor %}

    <br>

    <a href="{% url 'InstitutoForm' %}">Crear Instituto</a>

    </br>
</body>
</html>